<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
      <br>
        <%= "#{@user.name}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">登録名</th>
            <td class="table__col2"><%= @user.name %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "#{@user.name}さんの投稿コスメ"%>
      </h2>
      <br>
      <div class="user__card">
      <%= render partial: 'cosmes/cosme', collection: @cosmes %>
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
      </div>
    </div>
  </div>
</div>