/* リセットCSS */
* {
margin:0; padding:0;
}

/* ヘッダー */
header {
height: 100px;
width: 100%;
padding: 15px 0;
background-color: #f0bbd6;
color: white;
}
header .headline{
line-height: 100px;
float: left;
font-size: 30px;
margin-left: 100px;
}
.nav_list {
line-height: 100px;
margin-left: 30px;
display: flex;
justify-content: flex-end;
}
.nav_listitem a{
text-decoration: none;
font-family: 'Train One', cursive;
color: white;
}

.headline a{
text-decoration: none;
font-family: 'Train One', cursive;
color: white;
}

.nav_listitem {
display: inline-block;
margin: 0 20px;
display: flex;
justify-content: space-around;
width:30%;
}

/* メイン */

.greeting{
margin-bottom: 20px;
color: #f0bbd6;
position: relative;
}

.greeting p {
position: absolute;
top: 470px;
left: 450px;
font-size: 33px;
color: #f7aad2;
font-family: 'Train One', cursive;
}

.greeting__link{
text-decoration: underline;
}
.card__wrapper {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
min-height: calc(100vh - 200px);
margin-top: 100px;
}
.card__wrapper p{
font-size: 22px;
color: #f7aad2;
font-family: 'Train One', cursive;
padding-bottom: 70px;
}
.card {
width: calc((100% - 50px) / 5);
margin-bottom: 40px;
}
.card__img {
margin-bottom: 16px;
width: 150x;
height: 250px;
}
.card__title {
display: block;
font-size: 20px;
margin-bottom: 8px;
font-weight: bold;
color: #f0bbd6;
text-decoration: none;
}
.card__summary {
font-size: 16px;
color: #f0bbd6;
}
.card__user {
display: block;
font-size: 12px;
color: #f0bbd6;
text-align: right;
text-decoration: none;
}
.inner {
width: 1024px;
margin: 0 auto;
overflow: scroll;
}
.image{
width: 90%;
height: 80vh;
display:block;
margin:auto;
margin-top: 70px;
}
  /* フッター */
body,
#wrapper {
display: flex;
flex-direction: column;
min-height: 100vh;
}
footer{
width: 100%;
height: 100px;
height: 90px;
background-color: #f0bbd6;
color: white;
text-align: center;
margin-top: auto;

}
ul.footer-menu li {
display: inline;
}

  /* ログイン新規登録 */
.container{
color: #f0bbd6;
margin-left: 80px;
}
.emailform {
border: #f0bbd6 2px solid;
color: #f0bbd6;
}
.paswordform{
border: #f0bbd6 2px solid;
color: #f0bbd6;
}
.nameform{
border: #f0bbd6 2px solid;
color: #f0bbd6;
}
.submitbutun{
background-color: #f0bbd6;
border: #f0bbd6 2px solid;
color: azure;
margin: 10px;
}
h2{
font-family: 'Train One', cursive;
margin-top: 70px;
margin-bottom: 10px;
}

  /* 投稿フォーム */
.cosme_title{
border: #f0bbd6 2px solid;
color: #f0bbd6;
}
.cosme_text{
border: #f0bbd6 2px solid;
color: #f0bbd6;
}
.cosme_image{
color: #f0bbd6;
}
.form__btn{
background-color: #f0bbd6;
border: #f0bbd6 2px solid;
color: azure;
margin: 10px;
}


