/* リセットCSS */
* {
margin:0; padding:0;
}

/* ヘッダー */
header {
height: 100px;
width: 100%;
padding: 15px 0;
background-color: #f0bbd6;
color: white;
}
header .headline{
line-height: 100px;
float: left;
font-size: 30px;
margin-left: 100px;
}
.nav_list {
line-height: 100px;
margin-left: 30px;
display: flex;
justify-content: flex-end;
}
.nav_listitem a{
text-decoration: none;
font-family: 'Train One', cursive;
color: white;
font-size: 18px;
}

.headline a{
text-decoration: none;
font-family: 'Train One', cursive;
color: white;
font-size: 33px;
}

.nav_listitem {
display: inline-block;
margin: 0 20px;
display: flex;
justify-content: space-around;
width:30%;
}

/* メイン */

.greeting{
margin-bottom: 20px;
color: #f0bbd6;
position: relative;
}
.greeting p {
position: absolute;
top: 500px;
left: 450px;
font-size: 33px;
color: #f7aad2;
font-family: 'Train One', cursive;
}
.greeting__link{
text-decoration: none;
color: #f0bbd6;
}
.card__wrapper {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
min-height: calc(100vh - 200px);
margin-top: 100px;
}
.card {
width: calc((100% - 50px) / 5);
margin-bottom: 40px;
}
.card__img {
margin-bottom: 16px;
width: 150x;
height: 250px;
}
.card__title {
display: block;
font-size: 20px;
margin-bottom: 8px;
font-weight: bold;
color: #f0bbd6;
text-decoration: none;
}
.card__summary {
font-size: 16px;
color: #f0bbd6;
}
.card__user {
display: block;
font-size: 12px;
color: #f0bbd6;
text-align: right;
text-decoration: none;
}
.inner {
width: 1024px;
margin: 0 auto;
overflow: scroll;
}
.image{
width: 90%;
height: 80vh;
display:block;
margin:auto;
margin-top: 60px;
}
  /* フッター */
body,
#wrapper {
display: flex;
flex-direction: column;
min-height: 100vh;
}
footer{
width: 100%;
height: 100px;
height: 90px;
background-color: #f0bbd6;
color: white;
text-align: center;
margin-top: auto;

}
ul.footer-menu li {
display: inline;
}

/* ログイン新規登録 */
.container{
color: #f79aca;
margin: 40px 520px;
background-image: url(image2.jpg);
background-repeat:  no-repeat;
background-size:cover;
width:400px;
height:400px;
}
.container p{
font-family: 'Train One', cursive;
font-size: 22px;
padding-top: 50px;
}
.emailform {
border: #f79aca 2px solid;
color: #f79aca;
}
.paswordform{
border: #f79aca 2px solid;
color: #f79aca;
}
.nameform{
border: #f79aca 2px solid;
color: #f79aca;
}
.submitbutun{
background-color: #f79aca;
border: #f79aca 2px solid;
color: azure;
margin-top: 30px;
}

  /* 投稿フォーム */
.cosme_title{
border: #f79aca 2px solid;
color: #f79aca;
}
.cosme_text{
border: #f79aca 2px solid;
color: #f79aca;
}
.cosme_image{
color: #f79aca;
}
.form__btn{
background-color: #f79aca;
border: #f79aca 2px solid;
color: azure;
margin-top: 30px;
}

/* 詳細ページ */
.cosme__wrapper{
min-height: calc(100vh - 161px);
}
.cosme__hedding{
font-size: 24px;
font-weight: bold;
text-align: center;
color: #f7aad2;
padding-top: 50px;
}
.cosme__user{
display: block;
font-size: 16px;
color: #f0bbd6;
text-align: center;
text-decoration: none;
}
.cosme__image{
width: 250px;
height: 350px;
}
.cosme__manage a{
color: #f7aad2;
text-decoration: none;
font-family: 'Train One', cursive;
font-size: 17px;
padding: 0 10px 0 10px;
}
.cosme_imagewrapper{
width: 250px;
height: 370px;
margin: 0 auto;
padding: 16px 0;
}
.cosme__detail{
display: flex;
align-items: center;
flex-direction: column;
margin-bottom: 8px;
}
.detail__title{
font-size: 20px;
font-weight: bold;
color: #f0bbd6;
}
.detail__message{
font-size: 16px;
color: #f0bbd6;
}
.cosme__manage{
display: flex;
justify-content: center;
padding-top: 16px;
}

.cosme__comments{
background-color: #f6f6f6;
padding: 20px;
margin: 28px 0 40px 0;
}

.comments_lists{
padding-left: 20px;
}

.comments_list{
list-style-type: square;
padding-bottom: 5px;
}

.comment_user{
font-size: 16px;
color: #f0bbd6;
text-decoration: underline;
}
