<main class="main">
  <div class="inner">
      <div class="greeting">
      <img src="/assets/index.jpg" alt="", class="image">
      <p>お気に入りコスメを共有しよう</p>
      </div>
    <div class="card__wrapper">
      <%= render partial: 'cosme', collection: @cosmes %>
    </div>
  </div>
</main>
