<main class="main">		
  <div class="inner">
    <div class="greeting">
    <h2>お気に入りコスメを投稿してね</h2>
    コスメ好きのみんなでお気に入りコスメを共有しよう♡
    </div>
    <div class="card__wrapper">
      <%= render partial: 'cosme', collection: @cosmes %>
    <%# 投稿機能実装後、部分テンプレートで投稿一覧を表示する %>
    </div>
  </div>
</main>
